{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'front_page/styles/stylesheet.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNafvbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">HOME</a></li>
        <li><a href="#about-me">ABOUT</a></li>
        <li><a href="#work-experience">EXPERIENCE</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#resume">DOWNLOAD RESUME</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Wrapper for banner -->
<div class="carousel-inner green-font" role="listbox">
    <div class="item active">
    <img src="{% static 'front_page/images/laptop.png' %}" alt="laptop" width="1600" height="700">
    <div class="carousel-caption">
        <h1>Irving Martinez</h1>
        <h2>Software Engineer at Optum Financial</h2>
        <h3>I solve problems with code</h3>
    </div>      
    </div>
</div>

<!-- Container (The About Me Section) -->
<div id="about-me" class="container">  
  <p><b>Hello World.</b></p>
  <p><b>My name is Irving Martinez. I'm a Software Engineer.</b></p>
  <p><b>I am passionate about all-things-computer-science. You will most likely find me in a hoodie with a pot of coffee on my desk while my fingers pound away at the keyboard trying to fix a program that suddenly broke. But it wasn't always like this. </b></p>
  <p><b>I learned programming later in life. I wasn't some prodigy who grew up hacking computers since I was in the womb. No. That was never me. Hell, I didn't even know what directories were back in high school. It wasn't until my freshmen year when I took an introductory course to Java that I discovered programming, and it was love at first compile. But, to still be honest with you, I didn't really take much from that class other than getting really good at writing System.out.print("Hello World") since the professor bailed on us half of the time. Easy “A”, I guess.</b></p>
  <p><b>Like most of us, I left college with a broken career compass not knowing what to do with my life. While I jumped around customer service jobs, I still practiced during my spare time, spending long nights and weekends, teaching myself everything there was to know about this programming stuff with a determination that I was going to become a real programmer some day.</b></p>
  <p><b>Years later, after dozens of personal projects, a personal website, and invaluable industry experience, I stand before you an accomplished engineer.</b></p>
</div>

<!-- Container (Work Experience Section) -->
<div id="work-experience" class="bg-1">
  <div class="container">
    <h5><span class="color-yellow">Software Engineer</span> @ <span class="color-green">Optum Financial</span></h5>
    <p>May 2021 &dash; Current</p>
    <li>Design and implement custom software solutions to onboard new clients to achieve revenue goals</li>
    <li>Modernize legacy applications to improve security, reliability and scalability of systems</li>
    <li>Provide support for Account Executives, Production Support, and Call Center teams by resolving reported failures</li>
    <li>Develop and support tools for Production Support, Implementation, and QA departments</li>
    <li>Collaborate with Product Owners, DevOps, Architect, and other Engineers to discuss new solutions</li>
    <li>Train new team members on current systems ensuring they are self-reliant and resourceful</li>

    <h5><span class="color-yellow">QA Engineer</span> @ <span class="color-green">Optum Financial</span></h5>
    <p>March 2019 &dash; May 2021</p>
    <li>Performed end-to-end testing. verifying Python and .NET applications, web services, as well as MySQL, MS SQL, and IBM DB2/iSeries table updates</li>
    <li>Led coordination of testing efforts in staging and production environments by collaborating with stakeholders</li>
    <li>Automated testing processes with Python/Selenium apps and bash scripts</li>

    <h5><span class="color-yellow">Treasury Automation Analyst</span> @ <span class="color-green">Optum Financial</span></h5>
    <p>March 2017 &dash; March 2019</p>
    <li>Significantly reduced department labor costs by automating accounting operations</li>
    <li>Programmed software to balance MasterCard's data sets against internal iSeries database records</li>
    <li>Automated report generation in Tableau to aggregate data spanning different DBs and external files</li>
    <li>Develop and support tools for Production Support, Implementation, and QA departments</li>
    <li>Trained others on VBA to automate day-to-day operations and reduce hours of manual labor</li>
  </div>
</div>

<!-- Container (Projects Section) -->
<div id="projects" class="container">
    <a href="https://github.com/irvingmp6/sweb" class="color-black">
        <div class="column">
            <div class="card">
                <img src="{% static 'front_page/images/website.png' %}" alt="Preview" style="width:100%">
                <div class="card-container">
                    <h5><strong>irvingmartinez.com</strong></h5>
                    <p>My personal website built with Django hosted on my own server. Spiced up the HTML with some CSS and vanilla JS.</p>
                </div>
            </div>
        </div>
    </a>
    <a href="https://github.com/irvingmp6/sweb" class="color-black">
        <div class="column">
            <div class="card">
                <img src="{% static 'front_page/images/nodes.png' %}" alt="Preview" style="width:100%">
                <div class="card-container">
                    <h5><strong>sweb</strong></h5>
                    <p>CLI Web Scraping tool used to feth nested URLs from search phrases. Uses Python's Beautiful Soup and Requests.</p>
                </div>
            </div>
        </div>
    </a>
    <a href="https://github.com/irvingmp6/sweb" class="color-black">
    <div class="column">
            <div class="card">
                <img src="{% static 'front_page/images/nodes.png' %}" alt="Preview" style="width:100%">
                <div class="card-container">
                    <h5><strong>Coming Soon</strong></h5>
                    <p>A super cool awesome tool that I will make in the near future! This is just fluff text so add more volume. Okay some more.</p>
                </div>
            </div>
        </div>
    </a>
</div>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Website created by Irving Martinez</p> 
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip(); 
  
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>
</html>